Redirect 301 /support http://kickstandapps.com/index.html#contact
Redirect 301 /contact http://kickstandapps.com/index.html#contact
Redirect 301 /about http://kickstandapps.com/index.html#about
Redirect 301 /tock http://kickstandapps.com/index.html#apps
Redirect 301 /now-weather http://kickstandapps.com/index.html#apps
Redirect 301 /2012 http://kickstandapps.com
Redirect 301 /2013 http://kickstandapps.com
Redirect 301 /2014 http://kickstandapps.com
