{% include browser-upgrade.html %}

<div class="masthead-wrapper">
	<header id="masthead-logo" itemscope itemtype="http://schema.org/Organization">
		<a href="{{ site.baseurl }}/" class="site-logo" rel="home" title="{{ site.title }}" itemprop="url"><img src="{{ site.baseurl }}/images/{{ site.logo }}" height="50" alt="{{ site.title }} logo" itemprop="logo"></a>
	</header>
	<header id="masthead-logo" itemscope itemtype="http://schema.org/Organization">
		<a href="{{ site.baseurl }}/" class="site-logotype" rel="home" title="{{ site.title }}" itemprop="url"><img src="{{ site.baseurl }}/images/{{ site.logotype }}"></a>
	</header><!-- /.masthead -->
	<a href="#nav" class="menu"><span class='icons'>☰</span></a>
	<nav role="navigation" id="site-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
	    <ul>
	    	<li><a href="{{ site.baseurl }}/">Home</a></li>
	        {% for link in site.links %}
			<li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
	        {% endfor %}
	    </ul>
	</nav>
</div><!-- /.entry-wrapper -->
