{% include head.html %}

<body id="page" itemscope itemtype="http://schema.org/WebPage">

{% include navigation.html %}

<div id="main" role="main" itemprop="mainContentOfPage">
  <article class="entry" itemscope itemtype="http://schema.org/Blog" style="border-bottom-width:0;">
    <div class="flexslider">
      <ul class="slides">
        {% for post in site.posts %}
          {% if post.homepage %}
          <li style="opacity: 0;">
            <a href={{ post.url }}>
              <div style="background:url({{ site.baseurl }}/images/{{ post.image.homepage }}) no-repeat center center; background-size:cover;"></div>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}          

</body>
</html>
